<h1><%= @genre.name %></h1>
<ul>
  <% @recent_pages.each do |page| %>
    <li><a href="<%= page_url(page.id) %>"><%= page.title %></a></li>
  <% end %>
</ul>
<a href="<%= genre_pages_url(@genre.id) %>">See more <%= @genre.name %> Idiot</a>
