<h1><%= artist.escape("name") %></h1>
<span>
  <h3>Popular</h3>

  <h3><%= artist.escape("name") %> A-Z</h3>

</span>
<span>
  <h3>About <%= artist.escape("name") %></h3>
  <img src="<%= artist.get("image_url") %>" />

  <p>
    <%= artist.escape("biography") %>
  </p>
</span>
