<span class="collection-header">
  <span class="collection-header-info">
  <h1><%= collection.escape("title") %></h1>
  <% if (collection.escape("release_year")) { %>
    <h2>(<%= collection.escape("release_year") %>)</h2>
  <% } %>
  <h3><a href="#artists/<%= collection.artist().id %>"><%= collection.artist().escape("name") %></a></h3>
  </span>
  <% if (currentUser.get("level") === "editor") {%>
    <span class="collection-header-delete">
      <button id="delete-collection" class="delete">Delete This Collection</button>
    </span>
  <% } %>
</span>
<span class="collection-info">
  <% if (currentUser.get("level") === "editor") {%>
    <a id="edit-photo" class="edit-photo">Edit Photo</a>
  <% } %>
  <img src="<%= collection.escape("image_url") %>" />
</span>
<span class="collection-items">
  <ul>
    <% collection.pages().each(function (page) { %>
      <li>
        <% if (currentUser.get("level") === "editor") {%>
          <small data-id="<%= page.id %>" class="number editable"><%= page.escape("collection_number") %>.</small>
        <% } else { %>
          <small class="number"><%= page.escape("collection_number") %>.</small>
        <% } %>
        <a href="#pages/<%= page.id %>">
        <h4><%= page.escape("title") %></h4>
        <small class="artist"> by <%= page.escape("artist_name") %></small>
      </a></li>
    <% }); %>
    <% if (currentUser.get("level") === "editor") {%>
      <li><input type="text" id="new-page" class="new-collection-page" placeholder="Add a Page to This Collection"></li>
      <ul class="page-search-results" id="page-search-results"></ul>
    <% } %>
  </ul>
</span>
