<h1><%= genre.escape("name") %></h1>
<% debugger %>
<ul>
  <% _.each(genre.get("recent_pages"), function (page) {%>
    <li><a href="#/pages/<%= page.id %>"><%= page.title %></a></li>
  <% }); %>
</ul>
<a href="#/genres/<%= genre.id %>/pages">See more <%= genre.escape("name") %> Genius</a>
