<h1><%= genre.escape("name") %></h1>
<ul>
  <% genre.recentPages().each(function (page) {%>
    <li><a href="#/pages/<%= page.id %>"><%= page.escape("title") %></a></li>
  <% }); %>
</ul>
<a href="#/genres/<%= genre.id %>/pages">See more <%= genre.escape("name") %> Genius</a>
