<span class="info-bar">
  <h1 class="title"><%= page.escape("title") %></h1>
  <a class="artist" href="#artists/<%= page.artist().id %>"><%= page.artist().escape("name") %></a>
  <span class="image-bar">
    <span class="texture">
      <img class="photo-main" src="<%= page.get("image_url") %>">
    </span>
  </span>
</span>
<% if (currentUser.get("level") === "editor") {%>
  <a id="edit-photo" class="edit-photo">Update Photo</a>
<% } %>
<span class="page-content group">
  <article class="page-text">
    <p class="text-content"><%= page.escape("text") %></p>
    <content id="page-improvements"></content>
  </article>
  <article class="page-annotations">
  </article>
</span>
