<!DOCTYPE html>
<html>
<head>
  <title>Idiot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<span class="header">
  <ul>
    <% genres = Genre.all %>
    <% genres.each do |genre| %>
    <li><%= genre.name %></li>
    <% end %>
  </ul>
  <% if !current_user %>
    <a href="<%= new_user_url %>">Sign Up</a>
    <a href="<%= new_session_url %>">Sign In</a>
  <% end %>
</span>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
